#loginForm {
  box-shadow: 0 0 1px black, 1px 1px 2px black;
  height: 300px;
  margin: 10px auto 0 auto;
  padding: 10px;
  position: relative;
  width: 400px;

  .loginFormItem {
    clear: both;
    height: 2em;
    width: 100%;

    .loginFormItemName {
      float: left;
      width: 4em;
    }

    .loginFormItemInput {
      float: left;
    }
  }

  #loginFormError {}

  #ButtonLogin { @include userFormButton; }
}
