@charset 'utf-8';

@mixin background-linear-gradient($start, $webkit_start, $webkit_end, $from, $to) {
  background: -webkit-gradient(linear, $webkit_start, $webkit_end, from($from), to($to));
  background: -moz-linear-gradient($start, $from, $to);
  background: -o-linear-gradient($start, $from, $to);
  background: linear-gradient($start, $from, $to);
}

@mixin userFormButton {
  bottom: 10px;
  clear: both;
  position: absolute;
  right: 10px;
}

body {
  font-family: sans;
  font-size: 10pt;
}

form .error {
  box-shadow: 1px 1px 2px black, 2px 2px 3px black !important;
  color: red;
  display: block !important;
  line-height: 1.2em;
}

#header {
  $headerHeight: 50px;
  $headerMenuWidth: 6em;
  background: black;
  @include background-linear-gradient(top, left top, left bottom, black, #666);
  color: white;
  line-height: $headerHeight;
  left: 0;
  height: $headerHeight;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: $headerHeight;
    margin: 0;
    height: 100%;
    padding: 0;
    text-align: center;
  }

  #headerMenu {
    border-left: 1px solid #ccc;
    cursor: pointer;
    display: block;
    line-height: $headerHeight;
    height: $headerHeight;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: $headerMenuWidth;
  }

  #headerMenuSlidedown {
    display: none;
    height: 3em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: $headerHeight;
    width: $headerMenuWidth;

    .headerMenuItem {
      border-top: 1px solid #ccc;
      display: block;
      height: 1.5em;
      margin: 0;
      padding: 0;
      width: 100%;

      a {
        background: black;
        background: rgba(0, 0, 0, 0.8);
        color: inherit;
        display: block;
        height: 100%;
        line-height: 1.5em;
        text-align: center;
        text-decoration: none;
        width: 100%;

        &:hover, &:focus {
          background: #333;
          background: rgba(64, 64, 64, 0.8);
        }
      }
    }
  }
}

#LabelNotification {
  @include background-linear-gradient(top, left top, left bottom, #6cf, #28a);
  background: #6cf;
  border-radius: 6px;
  box-shadow: 0 -1px 2px white;
  display: none;
  height: 18px;
  left: 50%;
  line-height: 18px;
  margin-left: -400px;
  position: fixed;
  text-align: center;
  width: 800px;
  z-index: 1001;
}

#main {
  position: relative;
  top: 50px;
}

#footer {
  clear: both;
  font-size: smaller;
  bottom: 0;
  border-top: solid 1px gray;
  margin: 10px;
  padding: 10px;
  position: relative;
  text-align: right;
}

@import "loginForm";
@import "usersView";
@import "userForm";
