#usersView {
  border-collapse:collapse;
  margin: 0 auto;
  position: relative;
  width: 800px;

  tr { height: 18px; }

  th, td {
    height: 100%;
    line-height: 18px;
    padding: 0;
  }

  th {}

  td { border-top: 1px solid #ccc; }

  th:nth-child(2n-1),
  td:nth-child(2n-1) { background: #cff; }

  .usersViewOrder {
    color: black;
    text-decoration: none;

    &:hover, &:focus { color: #33f; }

    &:active { color: #f33; }
  }
}

#usersViewSearch, #usersViewAdd {
  margin: 10px auto;
  width: 800px;
}

#LabelPageNumbers {
  display: block;
  margin: 10px auto 0 auto;
  position: relative;
  width: 800px;

  .pageNumber {
    box-shadow: 0 0 1px black;
    display: block;
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 3px;
    position: relative;
    text-align: center;
    width: 18px;
  }

  a.pageNumber {
    color: black;
    text-decoration: none;

    &:hover, &:focus { background: #ccc; }

    &:active { background: #fcc; }
  }

  .currentPageNumber {
    background: #6cf;
  }
}
