#userForm {
  box-shadow: 0 0 1px black, 1px 1px 2px black;
  height: 400px;
  margin: 10px auto 0 auto;
  padding: 10px;
  position: relative;
  width: 600px;

  .userFormItem {
    clear: both;
    height: 2em;
    margin: 10px 0;
    width: 100%;

    .userFormItemName {
      float: left;
      width: 4em;
    }

    .userFormItemInput {
      float: left;

      input {
        margin-bottom: 5px;
        width: 20em;
      }
    }
  }

  #userFormError {}

  #ButtonUserForm { @include userFormButton; }
}
